@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --gray: #e4e4e7;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

/* Sidebar Styling */
.side-bar {
  background-color: #a1a1aa;
  grid-column: 1;
  padding: 20px;
}

/* Main Content Styling */
main {
  grid-column: 2;
  background-color: color-mix(in srgb, var(--gray) 50%, #a1a1aa 50%);
  padding: 20px;
}

/* Filter Items */
.filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-name {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.filter-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

/* Project Container */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Project Header */
.project-header {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.project-header button {
  border: none;
  background-color: #a1a1aa;
  font-size: 1.5rem;
}

/* Project Items */
.project {
  display: flex;
  justify-content: space-between;
}

.project button {
  border: none;
  background-color: #a1a1aa;
  font-size: 1.2rem;
}

.project-options {
  display: flex;
  gap: 10px;
}

/* Add Task Button */
.add-task {
  cursor: pointer;
}

.add-task-button {
  border: none;
  background-color: var(--gray);
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Roboto";
  padding: 5px 10px;
}

/* Task Info Container */
.task-info-container {
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 5px rgb(0, 0, 0, 0.4);
  width: 250px;
  font-size: 1.2rem;
}

.task-info-container input,
.task-info-container select {
  border: none;
  background-color: white;
  border-radius: 10px;
  min-width: 200px;
  min-height: 25px;
  text-align: center;
  font-weight: 600;
}

/* Item Container */
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

/* Decisive Buttons */
.decisive-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.decisive-buttons button {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.1rem;
}

/* Project Item */
.project-item {
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 5px rgb(0, 0, 0, 0.4);
  width: 250px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
  height: 150px;
}

/* Task Container */
.task-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Task Checkbox */
.task-checkbox {
  position: relative;
  left: 130px;
  top: 10px;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid orange;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}

/* Project Form */
.project-form-container {
  position: relative;
  left: 650px;
  top: 300px;
}

.project-form {
  background-color: var(--gray);
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.project-form #project-form-name {
  margin-bottom: 10px;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
}

.project-form #submit-button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}
